Flow-Publisher.json
[
    {
        "id": "2a00e3cab71156c8",
        "type": "tab",
        "label": "Publisher Vaga",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7a93a84630ce0f3d",
        "type": "aedes broker",
        "z": "2a00e3cab71156c8",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 410,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5ebf751d9c398843",
        "type": "inject",
        "z": "2a00e3cab71156c8",
        "name": "Consulta Vaga",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "b",
        "payloadType": "str",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "73cfbf6c6ac908de"
            ]
        ]
    },
    {
        "id": "2b442294b1a5747b",
        "type": "debug",
        "z": "2a00e3cab71156c8",
        "name": "Desc Vaga",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "73cfbf6c6ac908de",
        "type": "mqtt out",
        "z": "2a00e3cab71156c8",
        "name": "P-Vaga",
        "topic": "pVaga",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ba4d99bc21705c02",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "ce08eefdf9dc0155",
        "type": "mqtt in",
        "z": "2a00e3cab71156c8",
        "name": "S-Vaga",
        "topic": "pVaga",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ba4d99bc21705c02",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "2b442294b1a5747b"
            ]
        ]
    },
    {
        "id": "ba4d99bc21705c02",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]