Flow-Subscriber.json
[
    {
        "id": "183c5e2b9c4ebcf2",
        "type": "tab",
        "label": "Subscriber Vaga",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e2310768ba245630",
        "type": "mqtt in",
        "z": "183c5e2b9c4ebcf2",
        "name": "S-Vaga",
        "topic": "pVaga",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ba4d99bc21705c02",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 240,
        "wires": [
            [
                "6231ccfcf3b7f5cf",
                "f5b751bd128c77d1"
            ]
        ]
    },
    {
        "id": "6231ccfcf3b7f5cf",
        "type": "debug",
        "z": "183c5e2b9c4ebcf2",
        "name": "Desc Vaga",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 160,
        "wires": []
    },
    {
        "id": "f5b751bd128c77d1",
        "type": "function",
        "z": "183c5e2b9c4ebcf2",
        "name": "vagaDisponivel",
        "func": "if(msg.payload.toUpperCase() == \"A\") {\n    msg.payload = \"Apenas a vaga 'A' está disponível!\";\n    return msg;\n} else if (msg.payload.toUpperCase() == \"B\") {\n    msg.payload = \"Apenas a vaga 'B' está disponível!\";\n    return msg;\n} else if (msg.payload.toUpperCase() == \"AB\") { \n    msg.payload = \"As vagas 'A' e 'B' estão disponíveis!\";\n    return msg;\n}\nelse if (msg.payload.toUpperCase() == \"X\") {\n    msg.payload = \"Nenhuma vaga está disponível no momento!\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 240,
        "wires": [
            [
                "fd4a5556104fc91e"
            ]
        ]
    },
    {
        "id": "fd4a5556104fc91e",
        "type": "ui_text",
        "z": "183c5e2b9c4ebcf2",
        "group": "f4d63d19522f44fe",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "vagas",
        "label": "Vagas Disponíveis:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "ba4d99bc21705c02",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f4d63d19522f44fe",
        "type": "ui_group",
        "name": "Estacionamento",
        "tab": "e345de31fe6f6b2f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e345de31fe6f6b2f",
        "type": "ui_tab",
        "name": "Shopping",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]